.aboutContainer{
  background: url(../assets/backgroundSkills.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  margin-top: 2%;
  @include media(835px){
    flex-direction: column-reverse;
  }
  .aboutPicture,
  .aboutText{
    width: 100%;
    margin: 2%;
    @include media(835px){
      margin: 0;
    }
  }
  .aboutText
    h2{
      @include fontHeaders('Poppins', 1.5rem, black);
      font-weight: 700;
      margin: 3% 0 2%;
      text-align: center;
    }
    p{
      @include fontHeaders('Raleway', 1rem, black);
      text-align: justify;
      @include media(835px){
        padding: 1% 5%;
      }
    }
  .aboutPicture{  
    @include media(762px){
      margin: 2% auto;
    }
    img{
      border-radius: 50% 50%;
      width: 400px;
      height: 400px;
      object-fit: cover;
    @include media(835px){
        width: 300px;
        height: 300px;
        margin: 0 auto;
      }
    @include media (370px){
      width: 200px;
      height: 200px;
    }  
    }
  }
}
