footer{
  margin-top: 2%;
  border-top: 1px solid rgba(0, 0, 0, .05);

.bottomNav{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  @include fontHeaders('Raleway', 20px,black);

  .bottomNavContainer{
    width: 60%;
  }
  .bottomIconsContainer{
    width: 30%;
  }
  .bottomNavContainer{
    display: flex;
    flex-direction: column;
  }
    .bottomNavTitle,
    .bottomMenu{
      margin: 2% 0;
      @include fontHeaders('Poppins', 26px, black);
    }
    .bottomMenu nav ul li{
      @include fontHeaders('Raleway', 20px, black);
    }
    .bottomNavLink{
      display: flex;
      justify-content: space-between;
      a{
        color:black;
        transition: all 0.4s ease;
      }
    }
    .bottomIconsContainer{
      display:flex;
      align-items: flex-end;
      flex-direction: column;
      text-align: right;
      justify-content: space-evenly;
      .bottomIcons,
      .bottomContact{
        width: 100%;
        text-align: left;
      }
      .bottomContact{
        margin-top: 10%;
      }
        .bottomIcons i,
        .bottomContact i {
          margin-right: 2%;
          font-size: 16px;
          color:seashell;
          background: black; 
          padding: 2%; 
          border-radius: 50%;
        }
    }  
  }
}
.bottomNavLink a :active,
.bottomNavLink a :hover{
color: #1bf1ad;
}
