footer{
  margin-top: 2%;
  border-top: 1px solid rgba(0, 0, 0, .05);
  @include media(550px){
    margin-top: 8%;
  }

.bottomNav{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  @include fontHeaders('Raleway', 1rem,black);
  @include media (835px){
    flex-direction: column;
    text-align: center;
  }
  .bottomNavContainer{
    width: 50%;
     @include media(835px){
      width: 100%;
      margin-bottom:2%;
    }
  }
  .bottomIconsContainer{
    width: 40%;
    @include media(835px){
      width: 100%;
    }
  }
  .bottomNavContainer{
    display: flex;
    flex-direction: column;
  }
    .bottomNavTitle{
      @include fontHeaders('Poppins',.85rem,black);
    }
    .bottomMenu{
      margin: 2% 0;
      @include fontHeaders('Poppins', .85rem, black);    
      .bottomNavLink{
        display: flex;
        justify-content: space-between;
        @include media(780px){
          flex-direction: column;
        }
        a{
          color:black;
          transition: all 0.4s ease;
        }
        a:active,
        a:hover{
          color: #1bf1ad;
        }
      }
    }
    .bottomIconsContainer{
      display:flex;
      align-items: flex-end;
      flex-direction: column;
      text-align: right;
      justify-content: space-evenly;
      .bottomIcons,
      .bottomContact{
        width: 100%;
        text-align: left;
        @include media (835px){
          text-align: center;
        }
        p{
          padding: 1% 0;
          font-size: .85rem;
          @include media(835px){
            font-size: .85rem;
          }
        }
        i{
          margin-right: 2%;
          font-size: 1rem;
          color:seashell;
          background: black; 
          padding: 2%; 
          border-radius: 50%;
          transition: all 0.4s ease;
          display: inline-block;
      }
        i:hover,
        i:active{
          color: #1bf1ad;
        }
      }
    }  
  }
}

