header{
  background-color: grey;
  height:60vh;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerTitle{
  margin-top: 15%;
  text-align: center;
      h1{
      @include fontHeaders(Poppins, 90px, black);
    }
  }
    .navLink{
      display: flex;
      justify-content: center;
      
      a{
        margin: 3% 5%;
        color:black;
      }
    }
}