header{
  background-color: grey;
  background: url(../assets/headerPicHangar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat; 
  height:70vh;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerTitle{
  margin-top: 15%;
  text-align: center;
      h1{
      @include fontHeaders(Poppins, 60px, seashell);
    }
  }
    .hamburger,
    .exitMenu{
      display: none;
      }
      .hamburger{
        @include media(800px) {
				display: block;
        font-size: 25px;
        position: relative;
        top: 0;
        left: 30px;
        color: black;
        position: absolute;
        top: 20px;
        z-index: 100;
        }
      }
      .exitMenu{
        @include media(800px){
          display: block;
          font-size: 25px;
          position: absolute;
          top: 30px;
          right: 30px;
        }
      }
    .show.menu{
			display: block;
    }
    .menu{
      @include media(800px){
        display: none;
				position: absolute;
				top: -15px;
				left: 0;
				right: 0;
				background: rgba(0,0,0,0.8);
				color: white;
      }
    }
    nav{
    @include media(800px){
      height: 72vh;
    }
    .navLink{
      display: flex;
      justify-content: center;
      @include fontHeaders (Raleway, 20px, seashell);
      @include media(800px){
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      a{
        margin: 3% 5%;
        color:seashell;
        transition: all 0.4s ease;
      }
    }
  } 
}

.navLink li a:active,
.navLink li a:hover{
  color: #1bf1ad;
}
