header{
  background-color: grey;
  background: url(../assets/headerPicHangar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat; 
  height:70vh;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerTitle{
  margin-top: 15%;
  text-align: center;
      h1{
      @include fontHeaders(Poppins, 60px, seashell);
    }
  }
    .navLink{
      display: flex;
      justify-content: center;
      @include fontHeaders (Raleway, 20px, seashell);
      
      a{
        margin: 3% 5%;
        color:seashell;
        transition: all 0.4s ease;
      }
    }
}

.navLink a:active,
.navLink a:hover{
  color: #1bf1ad;
}