@mixin fontHeaders($family, $size, $color){
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: ($family);
  font-size:($size);
  color:($color);
}
// for media query
@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }  
}