.svgting{
  color: black;
}

.skillSquares{
  display: flex;
  margin: 3% 0;
  .skillSquaresLeft,
  .skillSquaresRight{
    width: 45%;
  }
  .skillSquaresRight{
    background-image: url(/assets/plus.svg);
    background-size:200px 200px;
    display: flex;
    flex-direction: column;
    margin-left:0;
    justify-content: center;
    .skillSquaresRightTitle{
      text-align: left;
      font-size: 50px;
    }
    .skillSquaresIcons{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      i{
        font-size: 60px;
        margin: 1%;
      }
      .firebaseLogo{
        margin: 1%;
        img{
          height: 100%;
        }
      }
    }
  }
}