.skillSquares{
  display: flex;
  margin: 5% 0;
  @include media(900px){
    flex-direction: column-reverse;
  }
  .skillSquaresLeft,
  .skillSquaresRight{
    width: 45%;
    @include media(900px){
      width: 100%;
      margin: 2% 0;
    }
  }
  .skillSquaresLeft{
    margin-right: 2.5%;
    img{
    -webkit-box-shadow: 10px 10px 5px 0px $steelblue;
    -moz-box-shadow: 10px 10px 5px 0px $steelblue;
    box-shadow: 20px 20px 0px 10px $steelblue;
    }
    
  }
  .skillSquaresRight{
    display: flex;
    flex-direction: column;
    margin-left:2.5%;
    justify-content: center;
    @include media (835px){
      margin: 0;
      width: 100%;
      background: none;
      @include media (500px){
        width: 100%;
      }
    }
    .skillSquaresRightTitle{
      text-align: center;
      font-size: 50px;
    }
    .skillSquaresRightTitle{
      h2{
        @include fontHeaders(Poppins, 1.5rem, black);
        font-weight: 700;
        margin: 4% 0;
      }
    }
    .skillSquaresIcons{
      .skillSquaresIconsBlock{ 
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        @include media(400px){
          justify-content: space-around;
        }
        i{
          font-size: 65px;
          margin: 2%;
        }
      }
    }
  }
} 

// flip icons
.skillSquaresIconsBlock {
  perspective: 1000;
  display: inline-block;
  margin: 5% 0;
  @include media(320px){
    margin: 10% 0;
  }
  .block{
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    &:hover{
      transform: rotateY(180deg);
    }
  }
  .block, 
  .front, 
  .back {
    width: 65px;
    height: 65px;
    }
    .front, 
    .back {
    backface-visibility: hidden;
    position: absolute;
    }
    .front {
      z-index: 1;
      transform: rotateY(180deg);
      text-align: center;
      background-color:$steelblue;
      padding-top: 15px;
      border-radius: 10px;
      font-weight: 700;
      @include fontHeaders ('Poppins',.7rem,black);
    }
    .back {
      z-index: 2; /* back side, placed above front */
      transform: rotateY(0deg);
    }
}
