article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F5;
  background-image: url(../assets/page-bg.jpeg);
  background-repeat: repeat-y;
  background-position: top center;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 10%;
  max-width: 1400px;
}

@media (max-width: 500px) {
  .wrapper {
    margin: 0 5%;
  }
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, a, li {
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

header {
  background: url(../assets/headerPic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

@media (max-width: 340px) {
  header {
    background-position-x: -400px;
  }
}

.layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .headerTitle {
  margin-top: 25%;
  text-align: left;
}

.container .headerTitle h1 {
  font-family: Poppins;
  font-size: 3rem;
  color: seashell;
}

@media (max-width: 700px) {
  .container .headerTitle {
    margin-top: 60%;
  }
}

@media (max-width: 330px) {
  .container .headerTitle {
    margin-top: 100%;
  }
}

.container .hamburger,
.container .exitMenu {
  display: none;
}

@media (max-width: 800px) {
  .container .hamburger {
    display: block;
    font-size: 1.5rem;
    position: relative;
    top: 0;
    left: 30px;
    color: black;
    position: absolute;
    top: 20px;
    z-index: 100;
  }
}

@media (max-width: 800px) {
  .container .exitMenu {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

.container .show.menu {
  display: block;
}

@media (max-width: 800px) {
  .container .menu {
    display: none;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    background: black;
  }
}

@media (max-width: 800px) {
  .container nav {
    height: 102vh;
  }
}

.container nav .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
  border-radius: 10px;
  width: 100%;
  font-family: "Raleway";
  font-size: 1rem;
  color: seashell;
}

@media (max-width: 800px) {
  .container nav .navLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.container nav .navLink a {
  margin: 3% 5%;
  color: seashell;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 835px) {
  .container nav .navLink a {
    margin: 3%;
  }
}

.container nav .navLink a:active,
.container nav .navLink a:hover {
  color: steelblue;
  border-radius: 5px;
}

.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-17 20:46:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

span {
  position: relative;
}

span::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: steelblue;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

span:hover::before {
  -webkit-transform: translate(-50%, 0) scaleX(1);
          transform: translate(-50%, 0) scaleX(1);
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

@media (max-width: 1100px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutContainer .aboutPicture,
.aboutContainer .aboutText {
  width: 100%;
  margin: 2%;
}

@media (max-width: 835px) {
  .aboutContainer .aboutPicture,
  .aboutContainer .aboutText {
    margin: 0;
  }
}

.aboutContainer .aboutText
h2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  margin: 3% 0 2%;
  text-align: center;
}

.aboutContainer p {
  font-family: "Raleway";
  font-size: 1rem;
  color: black;
  text-align: left;
}

@media (max-width: 835px) {
  .aboutContainer p {
    padding: 1% 5%;
  }
}

@media (max-width: 762px) {
  .aboutContainer .aboutPicture {
    margin: 2% auto;
  }
}

.aboutContainer .aboutPicture img {
  border-radius: 50% 50%;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1100px) {
  .aboutContainer .aboutPicture img {
    margin: 0 auto;
  }
}

@media (max-width: 835px) {
  .aboutContainer .aboutPicture img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 370px) {
  .aboutContainer .aboutPicture img {
    width: 200px;
    height: 200px;
  }
}

.skillSquares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
}

@media (max-width: 900px) {
  .skillSquares {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.skillSquares .skillSquaresLeft,
.skillSquares .skillSquaresRight {
  width: 45%;
}

@media (max-width: 900px) {
  .skillSquares .skillSquaresLeft,
  .skillSquares .skillSquaresRight {
    width: 100%;
    margin: 2% 0;
  }
}

.skillSquares .skillSquaresLeft {
  margin-right: 2.5%;
}

.skillSquares .skillSquaresLeft img {
  -webkit-box-shadow: 10px 10px 5px 0px steelblue;
  box-shadow: 20px 20px 0px 10px steelblue;
}

.skillSquares .skillSquaresRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 835px) {
  .skillSquares .skillSquaresRight {
    margin: 0;
    width: 100%;
    background: none;
  }
}

@media (max-width: 835px) and (max-width: 500px) {
  .skillSquares .skillSquaresRight {
    width: 100%;
  }
}

.skillSquares .skillSquaresRight .skillSquaresRightTitle {
  text-align: center;
  font-size: 50px;
}

.skillSquares .skillSquaresRight .skillSquaresRightTitle h2 {
  font-family: Poppins;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  margin: 4% 0;
}

.skillSquares .skillSquaresRight .skillSquaresIcons .skillSquaresIconsBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 400px) {
  .skillSquares .skillSquaresRight .skillSquaresIcons .skillSquaresIconsBlock {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.skillSquares .skillSquaresRight .skillSquaresIcons .skillSquaresIconsBlock i {
  font-size: 65px;
  margin: 2%;
}

.skillSquaresIconsBlock {
  -webkit-perspective: 1000;
          perspective: 1000;
  display: inline-block;
  margin: 5% 0;
}

@media (max-width: 320px) {
  .skillSquaresIconsBlock {
    margin: 10% 0;
  }
}

.skillSquaresIconsBlock .block {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.skillSquaresIconsBlock .block:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.skillSquaresIconsBlock .block,
.skillSquaresIconsBlock .front,
.skillSquaresIconsBlock .back {
  width: 65px;
  height: 65px;
}

.skillSquaresIconsBlock .front,
.skillSquaresIconsBlock .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.skillSquaresIconsBlock .front {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: center;
  background-color: steelblue;
  padding-top: 15px;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Poppins";
  font-size: 0.7rem;
  color: black;
}

.skillSquaresIconsBlock .back {
  z-index: 2;
  /* back side, placed above front */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsContainer img {
  width: 100%;
}

.projectsContainerTitle h2 {
  font-family: Poppins;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  margin: 2% 0;
}

.projectsContainerList {
  display: block;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% 0;
}

.projectsContainerList .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 2%;
  text-align: center;
  font-family: "Raleway";
  font-size: 0.8rem;
  color: black;
}

.projectsContainerList .projects .projectsIcon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1% 0;
}

.projectsContainerList .projects .projectsIcon i {
  font-size: 1.5rem;
  margin: 0 5px;
}

@media (max-width: 320px) {
  .projectsContainerList .projects .projectsIcon i {
    display: none;
  }
}

.projectsContainerList .projects .projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 2%;
  padding: 0 2%;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 850px) {
  .projectsContainerList .projects .projectLinks {
    width: 100%;
  }
}

.projectsContainerList .projects .projectLinks a {
  font-size: .9rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 5%;
  padding: 2% 5%;
  color: black;
  z-index: 1;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

@media (max-width: 360px) {
  .projectsContainerList .projects .projectLinks a {
    padding: 2% 7%;
    font-size: .7rem;
  }
}

.projectsContainerList .projects .projectLinks a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 10px;
  background-color: steelblue;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.projectsContainerList .projects .projectLinks a:hover {
  cursor: pointer;
  color: #161616;
}

.projectsContainerList .projects .projectLinks a:hover::before {
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.projectsContainerList .projects p {
  margin: 1%;
  padding: 0 5%;
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 400px) {
  .projectsContainerList .projects p {
    font-size: .7rem;
  }
}

@media (max-width: 755px) {
  .galleryCell {
    top: 10%;
  }
}

@media (max-width: 550px) {
  .galleryCell {
    top: 0;
  }
}

.flickity-prev-next-button {
  top: 60%;
}

@media (max-width: 400px) {
  .flickity-prev-next-button {
    width: 26px;
    height: 26px;
    top: 70%;
  }
}

@media (max-width: 592px) {
  .flickity-prev-next-button.previous {
    left: -5%;
  }
}

@media (max-width: 592px) {
  .flickity-prev-next-button.next {
    right: -5%;
  }
}

footer {
  margin-top: 2%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 550px) {
  footer {
    margin-top: 8%;
  }
}

footer .bottomNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3%;
  font-family: "Raleway";
  font-size: 1rem;
  color: black;
}

@media (max-width: 835px) {
  footer .bottomNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

footer .bottomNav .bottomNavContainer {
  width: 50%;
}

@media (max-width: 835px) {
  footer .bottomNav .bottomNavContainer {
    width: 100%;
    margin-bottom: 2%;
  }
}

footer .bottomNav .bottomIconsContainer {
  width: 40%;
}

@media (max-width: 835px) {
  footer .bottomNav .bottomIconsContainer {
    width: 100%;
  }
}

footer .bottomNav .bottomNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottomNav .bottomNavTitle {
  font-family: "Poppins";
  font-size: 0.85rem;
  color: black;
}

footer .bottomNav .bottomMenu {
  margin: 2% 0;
  font-family: "Poppins";
  font-size: 0.85rem;
  color: black;
}

footer .bottomNav .bottomMenu .bottomNavLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 780px) {
  footer .bottomNav .bottomMenu .bottomNavLink {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .bottomNav .bottomMenu .bottomNavLink a {
  color: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 500px) {
  footer .bottomNav .bottomMenu .bottomNavLink a {
    width: 25%;
    margin: 1% auto;
  }
}

footer .bottomNav .bottomMenu .bottomNavLink a:active,
footer .bottomNav .bottomMenu .bottomNavLink a:hover {
  color: steelblue;
}

footer .bottomNav .bottomIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .bottomNav .bottomIconsContainer .bottomIcons,
footer .bottomNav .bottomIconsContainer .bottomContact {
  width: 100%;
  text-align: left;
}

@media (max-width: 835px) {
  footer .bottomNav .bottomIconsContainer .bottomIcons,
  footer .bottomNav .bottomIconsContainer .bottomContact {
    text-align: center;
  }
}

footer .bottomNav .bottomIconsContainer .bottomIcons p,
footer .bottomNav .bottomIconsContainer .bottomContact p {
  padding: 1% 0;
  font-size: .85rem;
}

@media (max-width: 835px) {
  footer .bottomNav .bottomIconsContainer .bottomIcons p,
  footer .bottomNav .bottomIconsContainer .bottomContact p {
    font-size: .85rem;
  }
}

footer .bottomNav .bottomIconsContainer .bottomIcons i,
footer .bottomNav .bottomIconsContainer .bottomContact i {
  margin-right: 2%;
  font-size: 1rem;
  color: seashell;
  background: steelblue;
  padding: 2%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
}

footer .bottomNav .bottomIconsContainer .bottomIcons i:hover,
footer .bottomNav .bottomIconsContainer .bottomIcons i:active,
footer .bottomNav .bottomIconsContainer .bottomContact i:hover,
footer .bottomNav .bottomIconsContainer .bottomContact i:active {
  color: black;
}
