article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  background-color: #F5F5F5;
  background-image: url(../assets/page-bg.jpeg);
  background-repeat: repeat-y;
  background-position: top center;
}

.wrapper {
  margin: 0 10%;
  max-width: 1400px;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, a, li {
  line-height: 1.5;
  font-size: 20px;
}

img {
  display: block;
  width: 100%;
}

header {
  background-color: grey;
  height: 60vh;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .headerTitle {
  margin-top: 15%;
  text-align: center;
}

.container .headerTitle h1 {
  font-family: Poppins;
  font-size: 90px;
  color: black;
}

.container .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .navLink a {
  margin: 3% 5%;
  color: black;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

.aboutContainer .aboutPicture,
.aboutContainer .aboutText {
  width: calc(100% - 2%);
  margin: 2%;
}

.aboutContainer .aboutText
h2 {
  margin: 3% 0 2%;
  text-align: center;
}

.aboutContainer p {
  text-align: left;
}

.aboutContainer .aboutPicture img {
  border-radius: 50% 50%;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.svgting {
  color: black;
}

.skillSquares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
  background: url(../assets/backgroungSkills.jpeg);
  background-position: center;
  background-attachment: fixed;
}

.skillSquares .skillSquaresLeft,
.skillSquares .skillSquaresRight {
  width: 45%;
}

.skillSquares .skillSquaresLeft {
  margin-right: 2.5%;
}

.skillSquares .skillSquaresRight {
  background-image: url(../assets/dots.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillSquares .skillSquaresRight .skillSquaresRightTitle {
  text-align: left;
  font-size: 50px;
}

.skillSquares .skillSquaresRight .skillSquaresRightTitle h3 {
  font-family: Poppins;
  font-size: 60px;
  color: black;
}

.skillSquares .skillSquaresRight .skillSquaresIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.skillSquares .skillSquaresRight .skillSquaresIcons i {
  font-size: 60px;
  margin: 1%;
}

.skillSquares .skillSquaresRight .skillSquaresIcons .skillSquaresIcons {
  width: 50%;
}

.skillSquares .skillSquaresRight .skillSquaresIcons .firebaseLogo,
.skillSquares .skillSquaresRight .skillSquaresIcons .responsiveLogo {
  display: inline-block;
  margin: 1%;
  width: 60px;
  height: 60px;
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsContainer div img {
  width: initial;
}

.projectsContainerTitle h3 {
  font-family: Poppins;
  font-size: 60px;
  color: black;
}

.projectsContainerList {
  display: block;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% 0;
}

.projectsContainerList .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  color: black;
}

.projectsContainerList .projects .projectsIcon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsContainerList .projects .projectsIcon i {
  margin: 0 5px;
}

.projectsContainerList .projects p {
  margin: 2%;
  padding: 0 5%;
}

.contactMeForm {
  text-align: center;
  margin-top: 3%;
}

.contactMeForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3%;
  font-family: "Raleway";
  font-size: 20px;
  color: black;
}

.bottomNav .bottomNavContainer {
  width: 60%;
}

.bottomNav .bottomIconsContainer {
  width: 30%;
}

.bottomNav .bottomNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomNav .bottomNavTitle,
.bottomNav .bottomMenu {
  margin: 2% 0;
  font-family: "Poppins";
  font-size: 40px;
  color: black;
}

.bottomNav .bottomNavLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottomNav .bottomNavLink a li {
  color: black;
}

.bottomNav .bottomIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bottomNav .bottomIconsContainer .bottomIcons,
.bottomNav .bottomIconsContainer .bottomContact {
  width: 100%;
  text-align: left;
}

.bottomNav .bottomIconsContainer .bottomIcons i,
.bottomNav .bottomIconsContainer .bottomContact i {
  margin-right: 2%;
  font-size: 20px;
  color: seashell;
  background: black;
  padding: 2%;
  border-radius: 50%;
}
